table {
    background-color: peachpuff;
    width: 100%;
    border-collapse: separate;
}

td {
    padding: 10px;
    text-align: center;
    border: 5px solid gray;
    border-style: groove;
}

thead {
    background-color: azure;
}

tfoot {
    background-color: beige
}
